@import "tailwindcss";

@layer base {
  html {
    @apply overflow-hidden h-full;
  }

  body {
    @apply m-0 p-0 overflow-hidden h-full;
  }
}

/* Loading modal */
#loading-modal {
  @apply absolute z-10 left-0 top-0 w-full h-full p-5;
  background-color: rgba(50, 50, 50, 0.9);
}

#loading-modal h1 {
  @apply text-center text-white;
  margin-top: 30%;
}
